.page-header-fixed {

    @include clearfix;

    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    height: 50px;
    border-bottom: 1px solid $light-gray;
    //background: rgba(255, 255, 255, 0.84);
    background: $white;


    a {
        display: inline-block;
        line-height: 1;
        text-decoration: none !important;
    }

    .icon {
        color: $black;
        font-size: 54px;
        line-height: 37px;
        height: 37px;
        display: block;
        float: left;
    }

    .icon-logo {
        color: $primary-color;
        font-size: 35px;
        line-height: 35px;
        height: 35px;
        margin: 0 5px;
        //font-size: 44px;
    }

    .container {
        max-width: $global-width;
        padding: 0 0;
        margin: 0 auto;

        .logo-wrap-center {
            margin-top: 7px;
            text-align: center;

        }

    }
}
