.page-footer {
    font-size: .8em;
    color: $dark-gray;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-top: 1em;
    border-top: 1px solid $light-gray;

    .icon-group a {
        text-decoration: none;
    }

    .icon {
        font-size: 2em;
        margin-left: .5em;
        text-decoration: none;
    }

    .right {
        margin-top: -.5em;
        float: right;
    }
}


.qr-code {
    margin: 15px;
    text-align: center;
    width: 300px;
}

.qr-code img {
    margin: 30px
}
