.msg-top-ctn {

    position: absolute;
    width: 600px;
    top: 54px;
    border: 1px solid $secondary-color;
    background: $white;
    left: 21px;
    padding: 3px 7px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0,0,0,0.21);

    .item a {
        display: inline;
    }

    .close {
        font-size: 14px;
        position: absolute;
        top: 8px;
        right: 5px;
        line-height: 14px;
        height: 14px;
    }
}
