@import 'base';

//colors
/*
$body-bg: #efefef;
$crumb-bg: transparent;
$primary-color: #ed3535; //网站主色调
$error-color: #ed3535;
$color-rqt: #f25653; //颜色-需求
$color-idea: #ffa91b; //颜色-主意
$color-invent: #32cbcd; //颜色-创意
$color-feature: #01b4f5; //颜色-亮点描述
$color-sketch: #f2c63b; //颜色-草图
$color-appearance: #725fb7; //颜色-外观设计

//fonts
$crumb-font-transform: none;
$crumb-font-size: 1rem;
$body-font-family: PingFang SC, PingHei, "yahei", "黑体", "Helvetica Neue", Helvetica, Arial, sans-serif;

//layout
$crumb-border-size: 0;
$crumb-padding: 0;
$global-width: 62.5rem;
*/
