.page {
    max-width: $global-width;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    &-body {
        &::before,
        &::after {
            content: ' ';
            display: table;
            clear: both;
        }
        > .main {
            width: 100%;
            padding: 0 7px;
            float: none;
        }
        > .side {
            width: 100%;
            float: none;
        }
    }
}

@include breakpoint(medium) {
    .page {
        padding: 15px;
        &-body {
            > .main {
                width: 66%;
                float: left;
            }
            > .side {
                width: 34%;
                float: left;
            }
        }
    }
}
